extends layout

block content
  h1= title
  form(action=`/registrations/update/${registration._id}` method="POST" enctype="multipart/form-data")
    div.form-group
      label(for="name") Name
      input.form-control(type="text" name="name" value=registration.name required)
    div.form-group
      label(for="email") Email
      input.form-control(type="email" name="email" value=registration.email required)
    div.form-group
      label(for="notes") Notes
      textarea.form-control(name="notes")= registration.notes
    div.form-group
      label(for="image") Image
      input.form-control(type="file" name="image")
      if registration.image
        img(src=`data:image/jpeg;base64,${registration.image}`, alt='Registration Image', style='width: 100px; height: auto;')
    button.btn.btn-primary(type="submit") Update
